.pop{
    background-image:linear-gradient(rgba(211,204,227,0.5), rgba(233,228,240,0.5)),url(event.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top 25%;
    height: 645px;
    align-items: center;
    justify-content: center;
}
#event{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
}
h2{
    text-align: center;
}